.MapPage {
    position: relative;
    width: 100%;
    height: 100%;
}

/* BOARD */

.MapPage > .board {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}

/* PATTERN DROPDOWN */

body.page-MapPage .Dropdown {
    width: 600px;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

body.page-MapPage .Dropdown > .options-list {
}

body.page-MapPage .Dropdown .PatternOption {
    display: inline-block;
    width: 120px;
}

body.page-MapPage .PatternOption.highlighted-focus {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
}

body.page-MapPage .PatternOption.highlighted-active {
}
