.Tile {
    position: absolute;
    width: 100px;
    height: 50px;
}

.Tile:hover {
    opacity: 0.5;
}

.Tile > .background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 65px;
    background: url('../../images/roadTiles_vector.svg');
}

/* ELEVATION */

.Tile.elevation-1 > .background-image {
}

.Tile.elevation-2 > .background-image {
}

/* TILE IMAGE */
/* Tile origin: -50px -20px */
/* Tile spacing: -110px -85px */

.Tile.type-97 > .background-image {
    background-position: -50px -265px;
}

.Tile.type-98 > .background-image {
    background-position: -50px -105px;
}
