.Tile {
    width: 100px;
    height: 50px;
    pointer-events: none;
}

.Tile.hover {
    opacity: 0.75;
}

/* CLICK AREA */

.Tile > .mouse-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    pointer-events: all;
}

/* BACKGROUND */

.Tile > .pattern {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* ELEVATION */

.Tile.elevation-1 > .pattern {
    bottom: 15px;
}

.Tile.elevation-2 > .pattern {
    bottom: 30px;
}
